.warning{
    font-size: 80%;
    color: red;
}
.btn-run{
    position:relative;
    top:-5px;
}
.btn-stop{
    position:relative;
    top:-5px;
}
.btn-increase{
    position:relative;
    top:-5px;
}
.btn-decrease{
    position:relative;
    top:-5px;
}

.cur-var{
    position:relative;
    top:-5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}