{% extends "wrf_viewer/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://openlayers.org/en/v4.1.1/css/ol.css" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block global_scripts %}
{{ block.super }}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://highcharts.github.io/export-csv/export-csv.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://openlayers.org/en/v4.1.1/build/ol.js"></script>
{% endblock %}

{% block app_content_wrapper_override %}

{{ block.super }}

<form id="modalUpload" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Shapefile</h4>
      </div>
      <div class="modal-body">
        <div class="form-group shp_upload">
          <label class="control-label" for="shp-upload-input">Multiple Files are allowed</label>
          <input id="shp-upload-input" name="shp-upload-input" type="file" multiple>
        </div>
      </div>
      <div class="modal-footer">
        <div class="button-group">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="btn-add-shp" class="btn btn-default">Add</button>
        </div>
      </div>
    </div>
    <!--End modal content-->
  </div>
</form>

{% endblock %}

{% block app_navigation_items %}
<style>
  #map{
    width:100%;
    height: 400px;
  }
</style>
<b>Map Interaction</b>
<select id="types" class="btn btn-xs btn-success" data-width="fit">
  <option value="None">None</option>
  <option value="Point">Point</option>
  <option value="Polygon">Polygon</option>
  <option value="Upload">Upload Shapefile</option>

</select>
<br>
<br>
<form id="get-plot" name="get-plot" action="get_plot/" method="POST">
  {% csrf_token %}
  {% gizmo select_input select_variable %}
  <input type="text" name="point-lat-lon" id="point-lat-lon" hidden>
  <input type="text" name="poly-lat-lon" id="poly-lat-lon" hidden>
  <input type="text" name="shp-lat-lon" id="shp-lat-lon" hidden>
  <button type="button" id="btn-get-plot" name="btn-get-plot" class="btn btn-default">Show Plot</button>
</form>
<div class="warning"></div>
{% endblock %}
{% block app_content %}
<div hidden>{% gizmo select_input select_date %}</div>
<div id="control-bar" class="control-bar row">
  <div class="col-md-3 cur-var">
    <select id="vars" class="btn btn-xs btn-success" data-width="fit">
      {% for key,val in display_vars.items %}
      <option value="{{key}}">{{val}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="animation col-md-2">
    <!--<div class="btn-toolbar" role="toolbar" align="center"></div>-->
    <div class="btn btn-success btn-group btn-xs btn-run" role="group"><span class="glyphicon glyphicon-play"></span></div>
    <div class="btn btn-danger btn-group btn-xs btn-stop" role="group"><span class="glyphicon glyphicon-pause"></span></div>
    <div class="btn btn-danger btn-group btn-xs btn-decrease" role="group"><span class="glyphicon glyphicon-fast-backward"></span></div>
    <div class="btn btn-success btn-group btn-xs btn-increase" role="group"><span class="glyphicon glyphicon-fast-forward"></span></div>
  </div>
  <div id="slider" class="col-md-7"></div>
</div>
<div class="row">
  <div class="col-md-5">     <label id="speed-label" for="speed">Animation Speed(fps):</label>
    <input type="text" id="speed" readonly style="border:0; color:#f6931f; font-weight:normal;" value="1"></div>
  <div class="col-md-3"><label id="label" for="wrf-date">Day:</label>
    <input type="text" id="wrf-date" readonly style="border:0; color:#f6931f; font-weight:normal;" value="{{first_day}}"></div>
</div>
<div id="map"></div>
<div id="popup" class="popup"></div>
<div id="layers" name="layers" data-slider-max="{{slider_max}}"  data-var-info='{{var_metadata}}' data-color-bar="{{cbar}}" style="display:none;"></div>
<br>
<canvas id="cv" width="1100px" height="50px"></canvas>
<br>
<div>
  <div class="chart-wrapper">
    <div class="chart-inner">
      <div id="plotter" name="plotter" style="height:275px;width:90%" ></div>
    </div>
  </div>
</div>

{% endblock %}

