{% extends "wrf_viewer/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://openlayers.org/en/v4.1.1/css/ol.css" type="text/css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block global_scripts %}
{{ block.super }}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://highcharts.github.io/export-csv/export-csv.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://openlayers.org/en/v4.1.1/build/ol.js"></script>
{% endblock %}

{% block header_buttons %}
{{block.super}}
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="View API">
  <a href="{% url 'wrf_viewer:api' %}"><span class="glyphicon glyphicon-font"></span></a>
</div>
{% endblock %}

{% block app_content_wrapper_override %}


<script type="text/javascript">
    $(document).ready(function () {
        $("#modalWelcome").modal("show");
    });
</script>
<style>
    #modalWelcome .modal-body {
    right: 1px;
}
.welcome-step {
    font-size: 18px;
}
.welcome-substep1 {
    font-size: 16px;
}
.welcome-substep2 {
    font-size: 14px;
}
#modalWelcome .modal-dialog {
    /*width: auto;*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-header {
    min-height: 70px;
}
.modal-body {
    position: fixed;
    top: 70px;
    bottom: 65px;
    right: 1px;
    left: 0;
    overflow-y: auto;
}
.modal-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer-info {
    text-align: left;
    margin-left: 5px;
}
.modal-body td, .modal-body th {
    padding: 10px;
}
.modal-info {
    margin-right: 38%;
}
    @media (max-width: 550px) {
    #byu-logo-container {
        display: none;
    }
}
</style>
 <!-- Welcome Modal -->
    <div id="modalWelcome" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Guide</h4>
                </div>
                <div class="modal-body">
                    <p><b>For any questions, comments or requests contact Dr. Jim Nelson at <a href="mailto:jimn@byu.edu">jimn@byu.edu</a></b></p>
                    <h5>The following steps highlight the several functions of the HIWAT Forecast Viewer web app</h5>
                    <ol>
                        <li class="welcome-step">View different timesteps
                            <ul>
                                <li class="welcome-substep1">Move the slider above the map
                            </ul>
                        </li>

                        <li class="welcome-step">View grid value
                            <p><b>Please make sure that map interaction is set to none</b></p>
                            <ul>
                                <li class="welcome-substep1">Simply click within the raster region. It should show a popup with the value.
                            </ul>
                            <p>Note: If you don't see a value it means that you are cliking outside the actual data bounds.</p>
                        </li>
                        <li class="welcome-step">View Animation
                            <ul>
                                <li class="welcome-substep1">Use the animation controls to the left of the slider to start or stop animation
                                <li class="welcome-substep1">Use the Forward and Reverse buttons to increase and decrease animation speed
                            </ul>
                        </li>
                        <li class="welcome-step">View different variables
                            <ul>
                                <li class="welcome-substep1">Select the map display variable from the dropdown to the left of the animation controls
                            </ul>
                        </li>
                        <li class="welcome-step">View Time Series
                            <p><b>Select the point,polygon or shapefile option from the map interaction dropdown:</b></p>
                            <ul>
                                <li class="welcome-substep1">Click within the region
                                <li class="welcome-substep1">Select a variable of interest and then click on Show Plot
                                <li class="welcome-substep1">The Time Series for that point,polygon or shapefile will be shown below the map
                            </ul>
                            <p>Note: Be sure that the shapefile is within the region</p>
                        </li>
                        <li class="welcome-step">Click 'Exit' in the top-right of the app to return to the Main Apps Library</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <div id="byu-logo-container">
                        <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
                    </div>&nbsp;
                    <a href="https://github.com/BYU-Hydroinformatics/wrf" target="_blank" class="btn btn-default">View Code</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--End modal content-->
        </div>
    </div>
    <!--End modal-->


<form id="modalUpload" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Shapefile</h4>
      </div>
      <div class="modal-body">
        <div class="form-group shp_upload">
          <label class="control-label" for="shp-upload-input">Multiple Files are allowed</label>
          <input id="shp-upload-input" name="shp-upload-input" type="file" multiple>
        </div>
      </div>
      <div class="modal-footer">
        <div class="button-group">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="btn-add-shp" class="btn btn-default">Add</button>
        </div>
      </div>
    </div>
    <!--End modal content-->
  </div>
</form>
{{ block.super }}
{% endblock %}

{% block app_navigation_items %}
<button id="beta-feedback-button">Documentation</button>
<style>
  #map{
    width:100%;
    height: 400px;
  }
</style>
<b>Map Interaction</b>
<select id="types" class="btn btn-xs btn-success" data-width="fit">
  <option value="None">None</option>
  <option value="Point">Point</option>
  <option value="Polygon">Polygon</option>
  <option value="Upload">Upload Shapefile</option>

</select>
<br>
<br>
<form id="get-plot" name="get-plot" action="get_plot/" method="POST">
  {% csrf_token %}
  {% gizmo select_input select_variable %}
  <input type="text" name="point-lat-lon" id="point-lat-lon" hidden>
  <input type="text" name="poly-lat-lon" id="poly-lat-lon" hidden>
  <input type="text" name="shp-lat-lon" id="shp-lat-lon" hidden>
  <button type="button" id="btn-get-plot" name="btn-get-plot" class="btn btn-default">Show Plot</button>
</form>
<div class="warning"></div>
{% endblock %}
{% block app_content %}
<div hidden>{% gizmo select_input select_date %}</div>
<div id="control-bar" class="control-bar row">
  <div class="col-md-3 cur-var">
    <select id="vars" class="btn btn-xs btn-success" data-width="fit">
      {% for key,val in display_vars.items %}
      <option value="{{key}}">{{val}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="animation col-md-2">
    <!--<div class="btn-toolbar" role="toolbar" align="center"></div>-->
    <div class="btn btn-success btn-group btn-xs btn-run" role="group"><span class="glyphicon glyphicon-play"></span></div>
    <div class="btn btn-danger btn-group btn-xs btn-stop" role="group"><span class="glyphicon glyphicon-pause"></span></div>
    <div class="btn btn-danger btn-group btn-xs btn-decrease" role="group"><span class="glyphicon glyphicon-fast-backward"></span></div>
    <div class="btn btn-success btn-group btn-xs btn-increase" role="group"><span class="glyphicon glyphicon-fast-forward"></span></div>
  </div>
  <div id="slider" class="col-md-7"></div>
</div>
<div class="row">
  <div class="col-md-5">     <label id="speed-label" for="speed">Animation Speed(fps):</label>
    <input type="text" id="speed" readonly style="border:0; color:#f6931f; font-weight:normal;" value="1"></div>
  <div class="col-md-3"><label id="label" for="wrf-date">Day:</label>
    <input type="text" id="wrf-date" readonly style="border:0; color:#f6931f; font-weight:normal;" value="{{first_day}}"></div>
</div>
<div id="map"></div>
<div id="popup" class="popup"></div>
<div id="layers" name="layers" data-slider-max="{{slider_max}}"  data-var-info='{{var_metadata}}' data-color-bar="{{cbar}}" style="display:none;"></div>
<br>
<canvas id="cv" width="1100px" height="50px"></canvas>
<br>
<div>
  <div class="chart-wrapper">
    <div class="chart-inner">
      <div id="plotter" name="plotter" style="height:275px;width:90%" ></div>
    </div>
  </div>
</div>

{% endblock %}

